@page "/"
@inherits EmployeeListBase

<h3>Selected Employees Count @SelectedCount</h3>
<input id="showFooter" type="checkbox" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">

        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter"
                             OnEmployeeChecked="CountEmployees" OnEmployeeDeleted="DeleteEmployee"/>
        }

    </div>
}
